*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/build-logic/.gradle
/gradle/build-logic/convention/build
/.kotlin
/gradle/build-logic/.kotlin
/app/src/siteB/google-services.json
